*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
	background:#F7F7F7;
	height:100%;
}
.video-wrapper{
	background: #FFFFFF;
	height:100%;
	position: absolute;
	width: 100%;
	top:0;
	bottom:0;
}
.content-wrapper .content{
	width: 100%;
    padding: 15px 15px 15px;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    background: #FFFFFF;
    bottom: 60px;
    top: 0;
    left: 0;
    right: 0;
}
.content-wrapper .content .title{
	width: 100%;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    color: #333333;
    font-size: 14px;
    background: #FAFAFA;
    border: 1px solid #EEEEEE;
    margin-bottom: 10px;
}
.content-wrapper .content .videowrapper::after {
	content: '';
	clear: both;
	display: table;
}
.content-wrapper .content .item{
	height: 40px;
    width: 48%;
    border: 1px solid #EEEEEE;
    display: block;
    position: relative;
    margin-bottom: 12px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(51,51,51,1);
    text-decoration: none;
    float: left;
    line-height: 40px;
    margin-right: 4%;
    padding-left: 28px;
}
.content-wrapper .content .item::before {
    width: 20px;
    height: 20px;
    position: absolute;
    content: '';
    background: url(https://img3.tuhu.org/Q9se9Ht5dCCSVtVeQfBJbw/bf.png) no-repeat;
    background-size: contain;
    left: 4px;
    top: 9px;
}
.content-wrapper .content .item:nth-child(2n) {
    margin-right: 0;
}
.content-wrapper .pagination{
	display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    position: absolute;
    bottom: 20px;
}
.content-wrapper .pagination .default{
	width: 32px;
	height: 32px;
	background: #ffffff;
	text-align: center;
	border: 1px solid #d9d9d9;
	line-height: 32px;
	color: #999999;
	float:left;
	margin-right: 8px;
	cursor: pointer;
}
.content-wrapper .pagination .default.current{
	color:#DF3348;
	border: 1px solid #DF3348;
}